
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your order has been placed!</h1>
    <p>
      Your Order ID is: <%= @order_id %>.
    </p>
    <p>
      Thanks from <%= @url %>!
    </p>
    <p>Enjoy your items!</p>
  </body>
</html>