main section.products-index,
main section.categories-show {

  .products {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-around;

    .product {
      // flex:      1;
      max-width: 260px;
      // so that footer within can be positioned absolutely
      position:  relative;

      border:        1px solid #ccc;
      border-radius: 5px;
      padding:       15px;
      padding-bottom: 80px;
      margin-top:    20px;
      // margin:        10px;

      header img {
        max-width: 100%;
        max-height: 140px;
        margin: auto;
        display: block;
      }

      footer {
        position: absolute;
        bottom: 0;
        left:   0;
        background-color: #EEE;
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
        opacity: 0.3;
        transition: all 0.3s;
      }

      aside.price {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: #eee;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 20px;
        font-size: 0.8em;
      }

      aside.sold-out {
        position: absolute;
        top: 0;
        left: 0;
      padding: 5px 10px 0px 10px;
        color: #FFFFFF;
        background-color: #FF0000;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 20px;
        font-size: 1.5rem;
        font-weight: 500;
      }

      &:hover {

        border-color: #999;

        footer {
          opacity: 1.0;
        }
      }

    }
  }
}

main section.products-show {
  .container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .product-detail {
    display: flex;
    img.main-img {
      max-width: 100%;
    }
    .review-container {
      display: flex;
      flex-direction: column;
      
      .review-list {
        min-width: 60%;
        margin: auto;
        hr {
          border-color: rgba(0,0,0,0.4);
          margin: 0rem 0.2rem 0.5rem 0.2rem;
        }
        .review-form-container {
          display: flex;
          background-color: rgba(230,230,230,0.6);
          border: 1px solid rgba(200,200,200,0.4);
          border-radius: 5px;
          padding: 1rem;

          .review-form {
            min-width: 100%;
            display: flex;
            flex-direction: column;

            .review-description {
              min-width: 100%;
              min-height: 2rem;
              padding: 0.5rem;
              margin: 0.5rem 0rem 1rem 0rem;
            }

            .rating-container {
              padding: 0.5rem;
              margin: 0.5rem;
              align-content: center;
              
              .rating-label {
                padding: 0.25rem;
                margin-right: 0.5rem;
              }

              #review_rating {
                padding: 0.25rem;
                margin: 0rem 0.5rem;
              }

              .review-submit-btn {
                margin-left: auto;
              }
            }
          }
        }
        .review-entry {
          background-color: rgba(230,230,230,0.6);
          border: 1px solid rgba(200,200,200,0.4);
          border-radius: 5px;
          padding: 0rem 0.5rem;
          margin: 1rem;

          .rating {
            padding: 0.75rem 0.5rem 0rem 0.5rem;
          }
          
          .review-author {
            font-size: 1.5rem;
            padding: 0rem 0.5rem;
          }
          .review-content {
            padding: 0.5rem;
          }
          
        }
      }
    }
  }
}


